@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mate+SC&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  scroll-behavior: smooth;
}
.imgforma{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
}

.nombrePlaya{
  display: none;
}
.image-gallery {
  width: 80%;
}
.galeriaPlaya{
  height: 20px;
}
.circle{
  cursor: pointer;
  font-family:'Oswald'
}
.circleParty,.imgFiestas{
  float: left;
  width:350px;
  height: 350px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.circleParty2:hover{
  box-shadow: 0px -1px 15px 8px rgb(158, 158, 158);
  border-radius:50%;
}
/* .imgRomeria{
  width: 700px;
} */
 .titleFiesta{
  font-size: 20px;

 }

 li{
  margin-top: 10px;
 }