@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap");
body {
  scroll-behavior: smooth;
}
.parallax {
  /* Esto crea el efecto de parallax */
  background-image: url("../assets/background.jpg");
  min-height: 80vh;
  background-attachment: fixed; /* Clave para el efecto parallax */
  background-position: start;
  background-repeat: no-repeat;
  background-size:100vw;
}
.imgforma{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
}

.nombrePlaya{
  display: none;
}
.image-gallery {
  width: 80%;
}
.galeriaPlaya{
  height: 20px;
}